@model greenTea.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}


<hr />
<br />
<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Atenção!</h4>
        <h3>Você realmente quer excluir este item?</h3>
        <hr>
        <p class="mb-0">Lembrando que sempre que precisar, você também pode editar a categoria.  ; )</p>

    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10 font-weight-bold">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class="col-sm-10 btn text-white" style="background: @Html.DisplayFor(model => model.Cor); max-width: 100px;">
            @Html.DisplayFor(model => model.Cor)
        </dd>
    </dl>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger mr-3" /> |
        <a asp-action="Index" class="btn btn-primary ml-3">Voltar</a>
    </form>
</div>

